.wrapper {
    text-align: center;
    border: 5px solid black;
    width: 90%;
    max-width: 500px;
    margin-top: 5%;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-left: auto;
    margin-right: auto;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop20 {
    margin-top: 20px;
}

.wrapper input {
    width: 80%;
    text-align: center;
    padding: 5px;
}

.wrapper label {
    font-weight: bold;
    font-size: large;
}

.wrapper button {
    width: 100%;
    max-width: 80px;
    min-width: fit-content;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.wrapper button:hover {
    background-color: gray;
    color: white;
}

.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}

.email input {
    width: 100%;
    max-width: 300px;
}

.password input {
    width: 100%;
    max-width: 300px;
}

.password {
    margin-top: 30px;
}